<h3> Sets

Sets are unordered collection of unique elements.

In [1]:
myset = set()

In [2]:
myset

set()

In [3]:
myset.add(1)

In [4]:
myset

{1}

In [5]:
myset = {1,2,3}

In [6]:
myset

{1, 2, 3}

In [7]:
type(myset)

set

In [8]:
myset.add(2)

In [9]:
myset

{1, 2, 3}

In [10]:
#Casting a list to a set to only get non repeating values
l = [1,2,3,4,1,1,3,4,5,621,32,111,1,1,4]

In [11]:
mynewset = set(l)

In [12]:
mynewset

{1, 2, 3, 4, 5, 32, 111, 621}